authentik:
    secret_key: your_key (see helm authentik documentation)
    error_reporting:
        enabled: false
    postgresql:
        password: base64_encoded_password

email:
    enabled: true
    host: smtp.youremaildomain.com
    port: smpt_port
    timeout: 30s
    username: youremail
    password: your_email_app_password
    from: youremail

server:
  ingress:
    enabled: true
    hosts:
      - authentik.domain.tld

postgresql:
  enabled: true
  auth:
    password: base64_encoded_password

redis:
    enabled: true
