apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
  namespace: monitoring
  labels:
    app: prometheus-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-server
  template:
    metadata:
      labels:
        app: prometheus-server
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          resources:
            limits:
              memory: "800Mi"
            requests:
              memory: "400Mi"
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus/"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/
            - name: prometheus-storage-volume
              mountPath: /prometheus/
      volumes:
        - name: prometheus-config-volume
          configMap:
            defaultMode: 420
            name: prometheus-server-conf

        - name: prometheus-storage-volume
          emptyDir: {}

---

apiVersion: v1
kind: Service
metadata:
  name: prometheus-service-external
  namespace: monitoring
spec:
  selector:
    app: prometheus-server
  ports:
    - port: #chosen_port
      targetPort: 9090
  externalIPs:
    - ##Traefik_Ingress_IP

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service-internal
  namespace: monitoring
spec:
  selector:
    app: prometheus-server
  ports:
    - port: #chosen_port
      targetPort: 9090
