apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 192.168.1.1-192.168.1.50 (Assign any DHCP range)
---
apiVersion: metallb.io/v1beta2
kind: BGPPeer
metadata:
  name: sample
  namespace: metallb-system
spec:
  myASN: (needs to be setup in pfsense)
  peerASN: (needs to be setup in pfsense)
  peerAddress: 192.168.1.0 (metallb newtork of assigned DHCP addresses)
---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: example
  namespace: metallb-system
